{:deps true
 :builds {:test
          {:target :node-script
           :output-dir "out"
           :output-to "out/test.js"
           :main core-test-sample/-main
           :build-hooks [(uix.css/hook)]
           :modules {:test {:entries [core-test-sample]}}}}}